.paragraph {
  color: var(--inverse-lighter);
}

.container {
  border-radius: var(--spacing-m) var(--spacing-m) 0 0;
  width: 188px;
  height: 120px;
}

.hexcode {
  color: #151414;
}

.card {
  height: 250px;
  width: 228px;
}
