.in-page-nav {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0.25;
      margin-top: 2px;
  }
  100% {
      opacity: 1;
      margin-top: 0;
   }
}

.page-animation {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
