.table-of-content {
  width: var(--spacing-9);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: var(--font-size);
  color: #151414;
  padding: 8px 0;
}

.right-nav-container {
  height: max-content;
  border-left: 1px solid var(--secondary-light);
}

.active-link {
  color: #151414;
  font-weight: var(--font-weight-bold);
  border-left: 2px solid var(--primary);
  border-radius: 0 1px 1px 0;
}
